@value makerRed, makerShadow, makerIvory, makerGray, makerWhite, makerNavy from '/src/common/colors.css';

.container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 25em;
  border-radius: 0.3em;
  margin: 0 auto;
  box-shadow: makerShadow;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  background-color: makerNavy;
  color: makerWhite;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

.back {
  width: 1.2em;
  height: 1.2em;
  border: solid makerGray;
  border-top: 0.4em;
  border-right: 0.4em;
  border-radius: 0.2em;
  transform: rotate(45deg);
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.back:hover {
  opacity: 1;
}

.button {
  background-color: makerGray;
  font-weight: bold;
  color: makerNavy;
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  transition: 300ms ease;
}

.button:hover {
  background-color: makerWhite;
  opacity: 0.95;
}

.body {
  background-color: makerIvory;
  padding: 1em 1.2em 1em;
}

.form {
  margin-bottom: 1em;
}

.inputBox {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.input {
  box-sizing: border-box;
  width: 8.5em;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid makerGray;
  margin-right: 0.3em;
}

.text {
  display: inline-block;
  font-size: 0.9em;
  white-space: nowrap;
}

.message {
  color: makerRed;
  font-size: 0.7em;
  text-align: right;
}
