@value makerWhite, makerOrange from '/src/common/colors.css';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.5em;
  color: inherit;
}

.message {
  font-size: 1em;
  margin: 0.5em;
}

.goal {
  font-size: 0.8em;
  color: makerOrange;
  margin: 0;
}
