@value makerWhite, makerDarkGray, makerGray, makerNavy, makerGradient from '/src/common/colors.css';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.header:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: 0.5em;
  background: makerGradient;
  opacity: 0.2;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.back {
  width: 1.2em;
  height: 1.2em;
  border: solid makerNavy;
  border-top: 0.4em;
  border-right: 0.4em;
  border-radius: 0.2em;
  margin-right: 2em;
  transform: rotate(45deg);
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.back:hover {
  opacity: 1;
}

.title {
  margin: 0;
}

.symbol {
  font-size: 0.8em;
  vertical-align: 0.08em;
  margin-right: 0.2em;
  opacity: 0.6;
}

.member {
  font-size: 1em;
  color: makerDarkGray;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.button {
  background-color: makerGray;
  padding: 0.5em 0.8em;
  font-weight: bold;
  border-radius: 0.3em;
  transition: opacity 300ms ease;
}

.button:hover {
  opacity: 0.8;
}
