@value makerWhite, makerBlack, makerGray, makerLightIvory from '/src/common/colors.css';

.sheet {
  display: flex;
  background-color: makerLightIvory;
  border-bottom: 1px solid makerGray;
  padding: 1.5em 0;
  overflow: hidden;
}

.sheet.group {
  height: 12em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  color: black;
  border-right: 1px solid makerGray;
  padding-right: 2em;
  margin: auto 0 auto 2.5em;
}

.container {
  display: flex;
}

.container.group {
  font-size: 0.8rem;
}

.list {
  position: relative;
  width: 100%;
  overflow-y: auto;
}
