.item {
  display: flex;
  align-items: center;
  min-height: 1em;
  margin: 0.4em 0;
  font-size: 1em;
}

.item.ineditable {
  pointer-events: none;
}

.name {
  min-width: 7em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
