@value makerDarkGrayOp, makerWhite, makerIvory, makerOrange, makerGray, makerNavy, makerGradient from '/src/common/colors.css';
@value narrowQuery, mediumQuery from '/src/common/size.css';

.editor {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: makerIvory;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.form {
  display: flex;
  justify-content: center;
  margin: 3em auto;
}

.left {
  margin-right: 3em;
}

.image {
  display: inline-block;
  width: 10em;
  height: 10em;
  background-color: makerWhite;
  border-radius: 50%;
  margin-bottom: 1em;
}

.imageButton {
  display: block;
  background-color: makerNavy;
  font-weight: bold;
  color: makerWhite;
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  margin: 0 auto;
  opacity: 1;
  transition: 250ms ease;
}

.imageButton:hover {
  opacity: 0.8;
}

.imageButton.file {
  background-color: makerGray;
  color: makerNavy;
}

.imputFile {
  display: none;
}

.right {
  display: flex;
  max-width: 20em;
  flex-basis: 60%;
  font-size: 1.2rem;
  flex-direction: column;
}

.label {
  margin-bottom: 0.8em;
}

.name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.input,
.goal {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1em;
  border: 1px solid makerGray;
  border-radius: 0.3em;
  background-color: makerWhite;
  padding: 0.5em;
}

.buttons {
  text-align: center;
  margin: 3em auto;
}

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 0.8em;
  padding: 1em 3em;
  border-radius: 0.3em;
  margin-right: 1.5em;
  opacity: 1;
  transition: opacity 250ms ease;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.logout:hover {
  opacity: 0.8;
}

.button.reset {
  background-color: makerGray;
  padding: 1em 2em;
}

.button.edit {
  background-color: makerNavy;
  color: makerWhite;
}

.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: makerDarkGrayOp;
  z-index: 1;
}

.loading:before {
  content: '';
  width: 2em;
  height: 2em;
  border: 5px solid makerIvory;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: mediumQuery) {
  .form {
    align-items: center;
    flex-direction: column;
  }
  .left {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .buttons {
    margin: 0;
  }
}

@media screen and (max-width: narrowQuery) {
  .editor {
    height: 1em;
  }
  .container {
    display: block;
  }
}
