@value makerWhite, makerBlack, makerGray, makerLightIvory from '/src/common/colors.css';

.sheet {
  display: flex;
  background-color: makerLightIvory;
  border-bottom: 1px solid makerGray;
  padding: 1.5em 0;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  color: black;
  margin-right: 1.5em;
}

.list {
  position: relative;
  width: 100%;
  overflow-y: auto;
}
