@value makerNavy, makerWhite, makerShadow from '/src/common/colors.css';
@value narrowQuery from '/src/common/size.css';

.sidebar {
  position: relative;
  display: flex;
  flex-basis: 15em;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: makerNavy;
  color: makerWhite;
  text-align: center;
}

.sidebar:before {
  position: absolute;
  top: 0;
  right: -5px;
  content: '';
  width: 5px;
  height: 100%;
  background: makerShadow;
  opacity: 0.8;
}

.logo {
  width: 120px;
  margin: 0 auto 0.8em auto;
}

.group {
  position: relative;
  text-align: left;
  padding: 1.5em;
}

.title {
  font-size: 1.2rem;
  margin: 1em 0;
}

.notice,
.button {
  font-size: 1em;
  text-align: left;
  width: 100%;
  margin-left: 1.2em;
  margin-bottom: 0.5em;
  transition: 250ms ease;
}

.notice {
  font-size: 0.9em;
  line-height: 1.5em;
}

.button:hover {
  opacity: 0.5;
}

.symbol {
  font-size: 0.5em;
  vertical-align: 0.2em;
}

.point {
  display: inline-block;
  animation: updown 2.5s ease;
  animation-iteration-count: 10;
  transform: translateY(0%) scale(1);
}

@media screen and (max-width: narrowQuery) {
  .sidebar {
    padding-top: 3em;
    font-size: 1.1rem;
  }

  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: makerNavy;
    text-align: left;
    z-index: 1;
  }

  .logo {
    margin: 0.8em 1em;
  }

  .group {
    padding: 0;
  }

  .title {
    display: inline-block;
    margin-left: 1em;
  }

  .list,
  .item {
    display: inline-block;
  }

  .button {
    margin: 0 0 0 1em;
  }
}

@keyframes updown {
  0% {
    transform: translateY(0%) scale(1);
  }
  50% {
    transform: translateY(20%) scale(1.08);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
