@value makerGradient, makerLightGray, makerGray, makerShadow, makerDarkGray, makerDarkGrayOp, makerWhite, makerIvory, makerNavy from '/src/common/colors.css';

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: makerDarkGrayOp;
  z-index: 2;
}

.container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 25em;
  border-radius: 0.3em;
  overflow: hidden;
  box-shadow: makerShadow;
}

.header {
  position: relative;
  display: flex;
  background-color: makerLightGray;
  justify-content: space-between;
}

.header:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: 0.5em;
  background: makerGradient;
  opacity: 0.2;
}

.add,
.button {
  position: relative;
  font-weight: bold;
  color: makerNavy;
  padding: 0.5em 1.4em;
  transition: 300ms ease;
}

.add:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: makerGray;
  transform: translateY(-50%);
  transition: opacity 300ms ease;
}

.add:hover:after {
  opacity: 0;
}

.add:hover,
.button:hover {
  background-color: makerGray;
  color: makerWhite;
}

.search {
  display: flex;
  width: 100%;
}

.inputBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5em 0 0.5em 0.8em;
}

.reset {
  background-color: makerGray;
  color: makerWhite;
  font-size: 0.8em;
  line-height: 0.5em;
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.list {
  height: 100%;
  max-height: 20em;
  background-color: makerIvory;
  overflow-y: auto;
}

.item {
  position: relative;
  width: 100%;
  margin: 0.5em 0;
}

.item:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  width: 80%;
  height: 1px;
  background-color: makerGray;
  margin: 0 auto;
  opacity: 0.5;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2.5em;
}

.title {
  display: inline-block;
  margin: 0;
}

.symbol {
  font-size: 0.8em;
  vertical-align: 0.08em;
  margin-right: 0.2em;
  opacity: 0.8;
}

.member {
  font-size: 1.2em;
}
