@value makerShadow, makerWhite, makerGray, makerDarkGray, makerNavy from '/src/common/colors.css';
@value narrowQuery from '/src/common/size.css';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: makerDarkGray;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  background-color: makerWhite;
  border-radius: 1em;
  box-shadow: makerShadow;
  overflow: hidden;
  z-index: 1;
}

.header {
  background-color: makerNavy;
  color: makerWhite;
  padding: 0 2em;
}

.form {
  padding: 2.5em 2em 2.5em 2em;
}

.label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 2px solid makerGray;
  background-color: transparent;
  padding: 0.3em 0.5em;
  margin-top: 0.5em;
  transition: border 1s ease;
}

.input:focus {
  border-bottom: 2px solid makerNavy;
}

.signUp {
  color: makerDarkGray;
  font-size: 0.8rem;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.signUpBtn {
  color: makerDarkGray;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
  transition: color 300ms ease;
}

.signUpBtn:hover {
  color: makerNavy;
}

.buttons {
  width: 70%;
  text-align: center;
  margin: 1.5em auto 0 auto;
}

.loginBtn,
.button {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.3em;
  padding: 0.8em 0;
  margin-bottom: 0.5em;
  transition: opacity 300ms ease;
}

.loginBtn {
  background-color: makerGray;
}

.button {
  background-color: makerNavy;
  color: makerWhite;
}

.loginBtn:hover,
.button:hover {
  opacity: 0.8;
}

.logo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15em;
  margin: 1em 1.5em;
}

@media screen and (max-width: narrowQuery) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    position: relative;
    width: 8em;
    margin: 0;
  }
}
