@value makerWhite: #fff;
@value makerBlack: #000;
@value makerGray: #bdbdbd;
@value makerDarkGray: #727272;
@value makerNavy: #213d57;
@value makerIvory: #e9e5de;
@value makerLightIvory: #f5eee1;
@value makerOrange: #caaf71;
@value makerGradient: linear-gradient(180deg, rgba(21, 32, 66, 1) 0%, rgba(0, 212, 255, 0) 100%);
@value makerShadow: 3px 3px 10px 2px rgba(56, 56, 56, 0.7);
